<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Forge DataTables Demo</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/styles/github.min.css">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/highlight.min.js"></script>
		<link rel="stylesheet" href="../../dist/forge-datatables.css" />
		<style>
			.code .nav-tabs {
				border-bottom: 1px solid #ccc;
			}

			.code pre, .code code {
				background-color: #f8f8f8;
				border-top: none;
				border-top-left-radius: 0;
				border-top-right-radius: 0;
			}

			.code .nav-tabs>li.active>a, .code .nav-tabs>li.active>a:hover, .code .nav-tabs>li.active>a:focus {
				background-color: #f8f8f8;
				border: 1px solid #ccc;
				border-bottom-color: transparent;
			}
		</style>
	</head>
	<body ng-app="demo" id="ng-app">
		<div class="container" ng-controller="DemoCtrl">
			<div class="page-header">
				<h1>Forge DataTables</h1>
				<p class="lead">Custom AngularJS wrapper for the DataTables Library</p>
			</div>
			<h3>Basic Demo</h3>
			<p>This is a basic demo set up. It gives a quick example of how to use forge-datatables.<br/><code>N.B. there is a bug with the spinner image that only appears in this demo.</code></p>
			<div class="row">
				<div class="col-xs-12">
					<table class="table table-striped" datatable="" dt-options="dtOptions" dt-columns="dtColumns"></table>
				</div>
			</div>
			<hr/>
			<div class="row">
				<div class="col-xs-12">

					<div class="code">
						<ul class="nav nav-tabs">
							<li ng-class="{'active':demo1.markup}">
								<a href="#" ng-click="toggleDemo1($event, true)">Markup</a>
							</li>
							<li ng-class="{'active':demo1.javascript}">
								<a href="#" ng-click="toggleDemo1($event, false)">JavaScript</a>
							</li>
						</ul>

						<!-- Tab panes -->
						<div class="tab-content">
							<div class="tab-pane" ng-class="{'active':demo1.markup}" ng-show="demo1.markup">
								<pre><code class="html">&lt;div class="row"&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&lt;div class="col-xs-12"&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;table class="table table-striped" datatable="" dt-options="dtOptions" dt-columns="dtColumns"&gt;&lt;/table&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&lt;/div&gt;
&lt;/div&gt;</code></pre>
							</div>
							<div class="tab-pane" ng-class="{'active':demo1.javascript}" ng-show="demo1.javascript">
								<pre><code class="javascript">.controller('DemoCtrl', ['$scope', 'DemoService', 'DTOptionsBuilder', 'DTColumnBuilder', function ($scope, DemoService, DTOptionsBuilder, DTColumnBuilder) {
&nbsp;&nbsp;&nbsp;&nbsp;// the DataTables config
&nbsp;&nbsp;&nbsp;&nbsp;$scope.dtOptions = DTOptionsBuilder.withDefaultOptions()
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;.withServiceMethod(DemoService.getTableData)
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;.withBootstrap()
&nbsp;&nbsp;&nbsp;&nbsp;;
&nbsp;&nbsp;&nbsp;&nbsp;// the DataTable column config
&nbsp;&nbsp;&nbsp;&nbsp;$scope.dtColumns = [
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;DTColumnBuilder.addColumn('id', 'ID').withWidth('20%'),
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;DTColumnBuilder.addColumn('firstname', 'Name').withWidth('40%').renderWith(function(value, type, object) {
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;return object.firstname + ' ' + object.lastname;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;}),
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;DTColumnBuilder.addColumn('email', 'Email').withWidth('40%').notSortable()
&nbsp;&nbsp;&nbsp;&nbsp;];
}])</code></pre>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<script src="../vendor/jquery/jquery.js"></script>
		<script src="../vendor/angular/angular.js"></script>
		<script src="../vendor/datatables/media/js/jquery.dataTables.js"></script>

		<script src="../../dist/forge-datatables.js"></script>

		<script src="app.js"></script>

		<script>hljs.initHighlightingOnLoad();</script>
	</body>
</html>